---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Software Analyst Solutions Development",
    company: "BBVA",
    description:
      "Desarrollo de librerías, transacciones y rutinas para productos de cotización, venta y cobranza de seguros, desarrollo de componentes web en base al figma de la empresa.",
  },
  {
    date: "Junio del 2022 - Diciembre del 2023",
    title: "Desarrollador Frontend Senior",
    company: "Interbank (By NTT Data)",
    description:
      "Desarrollo del app empresas versión 2023 con Ionic y Angular, desarrollo de sistema interno de gestión de tarjetas con arquitectura de micro frontends.",
  },
  {
    date: "Febrero del 2021 - Mayo del 2022",
    title: "Desarrollador Full Stack",
    company: "Clínica Carita Feliz",
    description:
      "Desarrollo de sistema de atención médico - ocupacional usando angular, spring boot y postgreSQL.",
  },
  {
    date: "Marzo del 2019 - Diciembre del 2020",
    title: "Desarrollador Full Stack",
    company: "Usqay",
    description:
      "Desarrollo de sistema de gestión hotelera, desarrollo y mantenimiento de módulos de sistemas POS y Restaurantes, desarrollo de aplicaciones híbridas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
